<template lang="pug">
.calendar
    year(:year="drinkDaysInYear")
<!--    v-flex-->
<!--        v-select(:items="availableYears" v-model="yearNumber" label="Выберите год для редактирования:")-->
<!--        span(v-model="yearNumber") Текущий год: {{ yearNumber }}-->
</template>

<script>
import year from '@/components/calendar/year.vue';

export default {
    components: {
        year,
    },

    data() {
        return {
            availableYears: [2017, 2018, 2019],
            yearNumber: (new Date()).getFullYear(),
            drinkDaysInYear: null,
        };
    },
    mounted() {
        this.getDrinkDaysFromServer();
    },

    methods: {
        getDrinkDaysFromServer() {
            axios({
                url: `http://localhost:8082/year/${this.yearNumber}`,
                method: 'get',
            })
                .then(({ data }) => {
                    this.year = data || [[], [], [], [], [], [], [], [], [], [], [], []];
                    console.log('Номер года текущий: ' + this.yearNumber);
                    console.log('То, что записалось в массив бухающих дней текущего года: ' + this.drinkDaysInYear);
                });
        },
    },

    watch: {
        yearNumber() {
            this.getDrinkDaysFromServer();
        },
    },
};
</script>

<style scoped lang="stylus">

</style>
