<template lang="pug">
.day(
    @click="sendDayToServer()"
    :class="{ 'drunk-day': isDrinkDay }"
) {{ day.number}}
</template>

<script>

export default {
    props: {
        day: {
            type: Object,
            required: true,
        },
        monthNumber: {
            required: true,
        },
    },

    data() {
        return {
            isDrinkDay: this.day.drink,
        };
    },
    computed: {
        isUserLoggedIn() {
            return this.$store.getters.isUserLoggedIn;
        },
    },
    methods: {
        sendDayToServer() {
            if (this.isUserLoggedIn) {
                this.isDrinkDay = !this.isDrinkDay;
                const finalDay = {};
                finalDay.month = this.monthNumber;
                finalDay.number = this.day.number;
                finalDay.drink = this.isDrinkDay;
            } else {
                this.$router.push('/login?loginError=true');
            }
        },
    },
};

</script>

<style scoped>

</style>
