<template lang="pug">
.month
    .month-name {{ monthName }} {{ date.getFullYear() }}
    .days-of-week
        .day-of-week(
            v-for="( weekDay, index ) in weekDays"
            :class="{ 'day-of-week-weekend': index > 4 }"
        ) {{ weekDay }}
    .days
        day(
            v-for="day in days"
            :day="day"
            :month-number="monthNumber"
        )
</template>

<script>
import Vue from 'vue';
import day from '@/components/calendar/day.vue';

export default {
    components: {
        day,
    },
    // из props получаем объект date из компонента year с месяцами текущего года, monthName с названием месяца
    props: {
        date: {
            type: Date,
            required: true,
        },
        monthName: {
            required: true,
        },
        drinkDays: {
            type: Array,
            required: true,
        },
    },

    data() {
        return {
            daysInMonth: this.getDaysInMonth(),
            weekDays: ['ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'],
            monthNumber: undefined,
        };
    },

    methods: {
        // в данной функции получаем количество дней в текущем месяце
        getDaysInMonth() {
            const year = this.date.getFullYear();
            const month = this.date.getMonth();

            // возвращаем количество дней в месяце
            return (new Date(year, month + 1, 0)).getDate();
        },
        getDaysBeforeFirst() {
            const year = this.date.getFullYear();
            const month = this.date.getMonth();
            const emptyDays = [];

            const dayOfWeekOfFirst = (new Date(year, month, 1)).getDay() || 7;
            for (let i = 1; i < dayOfWeekOfFirst; i++) {
                emptyDays.push({});
            }

            return emptyDays;
        },
    },
    computed: {
        days() {
            const { daysInMonth } = this; // daysInMonth = this.daysInMonth;
            const days = this.getDaysBeforeFirst(); // сначала записываем пустые дни в массив, чтобы в месяце совпали пустые дни с ПН ВТ и т.д.

            for (let i = 1; i <= daysInMonth; i++) {
                const dayObject = {};
                Vue.set(dayObject, 'number', i);
                if (this.drinkDays.includes(i)) Vue.set(dayObject, 'drink', true);
                days.push(dayObject);
                // затем пушим количество дней, полученных функцией getDaysInMonth() и записанных в data() - daysInMonth: this.getDaysInMonth(),
            }

            return days; // возвращаем готовые массивы 12 месяцев, отсюда уже данные идут в v-for в шаблон
        },
    },
    mounted() {
        this.monthNumber = this.date.getMonth() + 1;
    },
};
</script>

<style scoped lang="stylus">
.month
    display flex
    flex-direction column
    align-items center
    justify-content center
    margin-bottom 45px

    .month-name
        display flex
        flex-direction column
        flex-wrap wrap
        margin 0
        padding 0
        height 35px
        width 247px
        justify-content center
        align-items center
        font-size 1.4em
        font-weight 700
        color #7b7b7b
        border-radius 5px

    .days-of-week
        display flex
        width 247px
        flex-wrap wrap
        color black
        box-sizing border-box
        font-size 1.1em
        font-weight 600

        .day-of-week
            width 35px
            height 35px
            border 0
            box-sizing border-box
            text-align center
            color black
            align-items center
            padding 5px
            flex-wrap wrap

        .day-of-week-weekend
            color #880E4F

    .days
        display flex
        width 247px
        flex-wrap wrap
        color black
        box-sizing border-box
        font-size 1em

        .day
            padding 6px
            width 35px
            height 35px
            text-align center
            color black
            cursor pointer

        .day:hover
            color #880E4F
            font-weight bold

        .drunk-day
            color #880E4F
            font-weight bold
</style>
