<template lang="pug">
.year(v-if="year")
    month(
        v-for="month in year.month"
        :date="month.date"
        :drink-days="month.drink"
        :month-name="month.monthName"
    ) {{ month }}
    </template>

<script>
import month from '@/components/calendar/month.vue';

export default {
    components: {
        month,
    },
    props: {},

    data() {
        return {
            year: {
                month: null,
                monthsNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                yearMonthsNumbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                dataFromServer: [
                    [1, 2, 3, 7],
                    [23],
                    [8, 9],
                    [6],
                    [1, 2, 9],
                    [],
                    [],
                    [11],
                    [1],
                    [],
                    [3, 5, 7, 9, 12, 13, 17, 21, 24, 25, 26, 27, 30],
                    [31],
                ],
                dataFromServer2: undefined,
            },

            dataFromClient: [
                [1, 2, 3, 7],
                [23],
                [8, 9],
                [6],
                [1, 2, 9],
                [],
                [],
                [11],
                [1],
                [],
                [3, 5, 7, 9, 12, 13, 17, 21, 24, 25, 26, 27, 30],
                [31],
            ],
        };
    },

    methods: {
        insertDataIntoDatabase() {
            axios({
                url: 'http://localhost:8082/year/2019',
                method: 'post',
                data: this.dataFromClient,
            })
                .then(({ data }) => {
                    // console.log(data);
                });
        },
    },

    mounted() {
        const thisYear = (new Date()).getFullYear();
        this.year.month = this.year.yearMonthsNumbers.map((monthNumber, index) => ({
            date: new Date(thisYear, monthNumber, 1),
            monthName: this.year.monthsNames[index], // добавил в объект month в year наименования месяцев
            drink: this.year.dataFromServer[index],
            }));
    },
};
</script>

<style scoped lang="stylus">
.year
    margin: 0 auto
    display flex
    flex-direction row
    margin-top 20px
    width 1140px
    flex-wrap wrap
    justify-content space-between
    align-items start
    align-content center
</style>
