<template lang="pug">
v-container
    v-layout
        v-flex(xs12 sm8 offset-sm2)
            h1 Стандартная доза алкоголя. Что это?
            p Очевидно, что различные по крепости алкогольные напитки содержат различное количество чистого спирта.
            p Для унификации специалисты ВОЗ установили понятие Стандартная доза алкоголя – количество спиртного напитка, в котором находится алкоголь в количестве эквивалентном 10 граммам чистого спирта.
            p(class="bold") 1 стандартная доза алкоголя это – 100 мл. сухого вина (10 - 13 %об), или 30 мл. водки (40 %об), или 200 - 250 мл. светлого пива (4,5 - 5 %об).
            img(src="https://www.b17.ru/foto/uploaded/upl_1501911980_103254.jpg" )

            h2 Рекомендации экспертов ВОЗ для мужчин
            p Эксперты ВОЗ рекомендуют выпивать мужчинам не более 21 стандартной дозы алкоголя в неделю. При этом в неделю обязательно наличие 2 дней полной трезвости. Несложно посчитать "сколько это будет в граммах" вашего любимого напитка:
            ul
                li 100 мл. * 21 СДА = 2100 мл. сухого вина (13%об.) или 3 бутылки по 0,7 л. сухого вина.
                li 250 мл. * 21 СДА = 5250 мл. светлого пива (4,5 %об.)  или 10 -11 бутылок светлого пива по 0,5 л.
                li 30 мл. * 21 СДА = 630 гр. водки (40%об)

            h2 Рекомендации экспертов ВОЗ для женщин
            p Эксперты ВОЗ рекомендуют выпивать женщинам не более 14 стандартных доз алкоголя в неделю. При этом в неделю обязательно наличие 2 дней полной трезвости. Несложно посчитать "сколько это будет в граммах" вашего любимого напитка:
            ul
                li 100 мл. * 14 СДА = 1400 мл. сухого вина (13 %об.) или 2 бутылки по 0,7 л. сухого вина.
                li 250 мл. * 14 СДА = 3500 мл. светлого пива (4,5 %об.) или 6 - 7 бутылок пива по 0,5 л.
                li 30 мл. * 14 СДА = 420 мл. водки (40%об.)
            p(style="margin-top: 10px") Британские ученые  Эксперты ВОЗ установили, что употребление спиртного в таких дозах вызывает минимальный риск для здоровья. Данные критерии не работают в тех случаях, когда человек уже страдает алкогольной зависимостью и длительное время воздерживается от спиртного (2-3 месяца), а потом в состоянии «запоя» за 2-3 дня выпивает месячную «норму».

</template>

<script>
export default {
    name: 'Norms',
};
</script>

<style scoped lang="stylus">
.bold
    font-weight bold
h2
    margin-top 20px
</style>
