<template lang="pug">
v-container
    v-layout
        v-flex(xs12 sm8 offset-sm2)
            h2 Stats
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet cum ducimus nulla placeat reiciendis tempora tempore! Animi consectetur dolorem dolores dolorum enim itaque tenetur veniam voluptates. Culpa eaque, voluptate.
</template>

<script>
export default {
    name: 'About',
};
</script>

<style scoped>

</style>

