<template lang="pug">
v-app(class)
    v-container
        v-content
            router-view
        template(v-if="error")
            v-snackbar(
                color="error"
                :multi-line="true"
                :timeout="7000"
                @click="closeSnackBar"
                :value="true"
            ) {{error}}
                v-btn(
                    flat
                    @click.native="closeSnackBar"
                ) Закрыть

</template>

<script>
export default {
    methods: {
        closeSnackBar() {
            this.$store.dispatch('clearError');
        },
    },
    computed: {
        error() {
            return this.$store.getters.error;
        },
        isUserLoggedIn() {
            return this.$store.getters.isUserLoggedIn;
        },
    },

};
</script>

<style lang="stylus">
html body
    margin 0
    padding 0
</style>
