<template lang="pug">
.default-layout
  main-header
  router-view
  main-footer
</template>

<script>
import mainHeader from '@/layouts/mainHeader.vue';
import mainFooter from '@/layouts/mainFooter.vue';

export default {
  components: {
    mainFooter,
    mainHeader,
  },
};
</script>

<style scoped lang="stylus">


</style>
