<template lang="pug">
nav
    v-toolbar(app)
        v-toolbar-side-icon(@click="drawer = !drawer")
        router-link(to="/" tag="span" class="logo")
            v-toolbar-title
                span(class="pink--text text--darken-4 display-1") V
                span(class="font-weight-light display-1") cal
                span(class="font-weight-light display-1")  - алкотрекер
        v-spacer
        v-menu(offset-y)
            v-btn(slot="activator" color="primary" outline) Меню
                v-icon(class="ml-1") expand_more
            v-list
                v-list-tile(v-for="item in drawerLinks" router :to="item.link")
                    v-list-tile-title {{ item.name }}
        v-btn(v-if="!isUserLoggedIn" flat router to="/registration")
            span Регистрация
        v-btn(v-if="!isUserLoggedIn" flat router to="/login")
            span Войти
        v-btn(v-if="isUserLoggedIn" flat @click="logout")
            span Выход
            v-icon(class="ml-1") exit_to_app
    v-navigation-drawer(v-model="drawer" temporary app class="pink darken-4")
        v-layout(column align-center)
            v-flex(class="mt-5")
                v-avatar
        v-list
            v-list-tile(v-for="item in drawerLinks" router :to="item.link")
                v-list-tile-action
                    v-icon(class="white--text") {{ item.icon }}
                v-list-tile-content
                    v-list-tile-title(class="white--text") {{ item.name }}

    <!--    v-btn(@click="getYearFromServer") Получить 2019 год с сервера-->
    <!--    v-navigation-drawer(app temporary v-model="drawer")-->

</template>

<script>
export default {
    data() {
        return {
            drawer: false,
            drawerLinks: [
                { id: 1, name: 'Мой календарь', icon: 'mdi-calendar', link: '/' },
                { id: 2, name: 'Моя статистика', icon: 'mdi-chart-line', link: '/stats' },
                { id: 3, name: 'Нормы потребления', icon: 'mdi-glass-wine', link: '/norms' },
                { id: 4, name: 'Связаться с нами', icon: 'phone', link: '/contactus' },
            ],
        };
    },
    computed: {
        isUserLoggedIn() {
            return this.$store.getters.isUserLoggedIn;
        },
    },
    methods: {
        logout() {
            this.$store.dispatch('logoutUser');
            this.$router.push('/');
        },
        // getYearFromServer() {
        //     axios({
        //         method: 'get',
        //         url: 'http://localhost:8082/year/2019',
        //     })
        //         .then(({ data }) => {
        //             console.log(data);
        //         });
        // },
    },
};
</script>

<style scoped lang="stylus">
.logo
    cursor pointer
</style>
