<template lang="pug">
v-container(fluid fill-height)
    v-layout(align-center justify-center)
        v-flex(xs12 sm8 md6)

            v-card(class="elevation-12")
                v-toolbar(color="primary" dark flat)
                    v-toolbar-title Авторизация

                v-card-text
                    v-form(v-model="valid" ref="form" validation)
                        v-text-field(
                            label="E-mail"
                            name="email"
                            prepend-icon="person"
                            type="email"
                            :rules="emailRules"
                            v-model="email")

                        v-text-field(
                            id="password"
                            label="Пароль"
                            name="password"
                            prepend-icon="lock"
                            type="password"
                            :counter="6"
                            :rules="passwordRules"
                            v-model="password")

                v-card-actions
                    v-spacer
                    v-btn(
                        @click="onSubmit"
                        :disabled="!valid" || loading
                        :loading="loading"
                        color="primary"
                    ) ВОЙТИ
</template>

<script>
export default {
    name: 'Login',
    data() {
        return {
            email: undefined,
            password: undefined,
            valid: false,
            emailRules: [
                v => !!v || 'E-mail обязателен',
                v => /.+@.+\..+/.test(v) || 'Введите валидный E-mail',
            ],
            passwordRules: [
                v => !!v || 'Пароль обязателен',
                v => (v && v.length >= 6) || 'Длина пароля не должна быть менее 6 символов',
            ],
        };
    },
    computed: {
        loading() {
            return this.$store.getters.loading;
        },
    },
    methods: {
        onSubmit() {
            if (this.$refs.form.validate()) {
                const user = {
                    email: this.email,
                    password: this.password,
                };
                this.$store.dispatch('loginUser', user)
                    .then(() => this.$router.push('/'))
                    .catch(error => console.log(error));
            }
        },
    },
    created() {
        if (this.$route.query['loginError']) {
            this.$store.dispatch('setError', 'Пожалуйтса, войдите для доступа к данной странице.');
        }
    },
};
</script>

<style scoped>

</style>
