<template lang="pug">
v-container(fluid fill-height)
    v-layout(align-center justify-center)
        v-flex(xs12 sm8 md6)

            v-card(class="elevation-12")
                v-toolbar(color="primary" dark flat)
                    v-toolbar-title Регистрация нового пользователя

                v-card-text
                    v-form(v-model="valid" ref="form" validation)
                        v-text-field(
                            label="E-mail"
                            name="email"
                            prepend-icon="person"
                            type="email"
                            :rules="emailRules"
                            v-model="email")

                        v-text-field(
                            label="Пароль"
                            name="password"
                            prepend-icon="lock"
                            type="password"
                            :counter="6"
                            :rules="passwordRules"
                            v-model="password")

                        v-text-field(
                            label="Подтвердите пароль"
                            name="confirm-password"
                            prepend-icon="lock"
                            type="password"
                            :counter="6"
                            :rules="confirmPasswordRules"
                            v-model="confirmPassword")

                v-card-actions
                    v-spacer
                    v-btn(
                        @click="onSubmit"
                        :disabled="!valid || loading"
                        color="primary"
                        :loading="loading"
                    ) СОЗДАТЬ ПОЛЬЗОВАТЕЛЯ
</template>

<script>
export default {
    name: 'Registration',
    data() {
        return {
            email: undefined,
            password: undefined,
            confirmPassword: undefined,
            valid: false,
            emailRules: [
                v => !!v || 'E-mail обязателен',
                v => /.+@.+\..+/.test(v) || 'Введите валидный E-mail',
            ],
            passwordRules: [
                v => !!v || 'Пароль обязателен',
                v => (v && v.length >= 6) || 'Длина пароля не должна быть менее 6 символов',
            ],
            confirmPasswordRules: [
                v => !!v || 'Пароль обязателен',
                v => v === this.password || 'Пароли не совпадают',
            ],
        };
    },
    computed: {
        loading() {
            return this.$store.getters.loading;
        },
    },
    methods: {
        onSubmit() {
            if (this.$refs.form.validate()) {
                const user = {
                    email: this.email,
                    password: this.password,
                };
                this.$store.dispatch('registerUser', user)
                    .then(() => this.$router.push('/'))
                    .catch(error => console.log(error));
            }
        },
    },
};
</script>

<style scoped>

</style>
